.body_style {
    background-color: #F9FBFD;
}

.navbar_icon {
    display: block;
    margin-left: 10%;
    margin-right: 1.2%;
}

.navbar_button {
    display: block;
    margin-right: 1.5%;
}

.login_card_style {
    display: block;
    margin-top: 7%;
    margin-left: 33%;
}

.login_card_header {
    display: block;
    margin-left: 40%;
    margin-bottom: 1%;
}

.login_card_image{
    -drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.login_card_form {
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
}

.login_card_button {
    width: 100%;
    display: block;
}

.register_title {
    text-align: center;
}

.register_alert_style {
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    max-width: 33.4%;
    display: block;
    margin-left: 33%;
}

.register_alert_text1 {
    margin-left: 33%;
}

.register_alert_text2 {
    margin-left: 28%;
}

.register_alert_text3 {
    margin-left: 22%;
}

.register_alert_text4 {
    margin-left: 30%;
}

.register_alert_text5 {
    margin-left: 27%;
}

.register_alert_text6 {
    margin-left: 20%;
}

.vault_card_style {
    margin-top: 2%;
    margin-left: 6%;
}

.vault_card_image {
    margin-left: 33%;
}

.btn-circle {
    background-color: #FF914D;
    border-color: #FF914D;
    height: 60px;
    width: 60px;
    line-height: 1.33;
    padding: 10px 16px;
    border-radius: 30px;
    font-size: 24px;
    box-shadow: 3px 4px  rgba(0, 0, 0, 0.205);
}

.btn-circle:hover,
.btn-circle:active,
.btn-circle:visited,
.btn-circle:focus,
.btn-circle:active {
    background-color: #fd7b2b;
    border-color: #fd7b2b;
}

.btn-position {
    position: fixed;
    bottom: 0px;
    right: 0px;
    margin-right: 5%;
    margin-bottom: 3%; 
}